div.search input#mod-search-searchword{ height:16px; width:210px;  background-color:#fdecdc;}
div.search input.button {padding:10px; background : #644729; color:#fdecdc;}
div.search .inputbox { margin-right:0;padding:10px;}
#col1 .search .inputbox { margin-right:0;padding:3px;}